<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Prenota ora</h2>
                <hr class="primary">
                <p>Vuoi saperne di più?
                    <br>
                    Contattaci, risponderemo il prima possibile</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://airbnb.it/">
                <i class="fa-brands fa-airbnb fa-4x wow bounceIn" data-wow-delay=".1s" style="color:black"></i>
                <p>Prenota ora</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-whatsapp wow bounceIn" data-wow-delay=".1s"></i>
                <p>Scrivimi</p>
            </a>
        </div>
    </div>
</section>
