<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/1.jpg" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <!-- Images used to open the lightbox -->
                <div class="row">
                    <div class="column">
                    <img src="img/portfolio/1.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow">
                    </div>
                    <div class="column">
                    <img src="img/portfolio/2.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow">
                    </div>
                    <div class="column">
                    <img src="img/portfolio/3.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow">
                    </div>
                    <div class="column">
                    <img src="img/portfolio/4.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow">
                    </div>
                </div>
                
                <!-- The Modal/Lightbox -->
                <div id="myModal" class="modal">
                    <span class="close cursor" onclick="closeModal()">&times;</span>
                    <div class="modal-content">
                
                    <div class="mySlides">
                        <div class="numbertext">1 / 4</div>
                        <img src="img/portfolio/1.jpg" style="width:100%">
                    </div>
                
                    <div class="mySlides">
                        <div class="numbertext">2 / 4</div>
                        <img src="img/portfolio/2.jpg" style="width:100%">
                    </div>
                
                    <div class="mySlides">
                        <div class="numbertext">3 / 4</div>
                        <img src="img/portfolio/3.jpg" style="width:100%">
                    </div>
                
                    <div class="mySlides">
                        <div class="numbertext">4 / 4</div>
                        <img src="img/portfolio/4.jpg" style="width:100%">
                    </div>
                
                    <!-- Next/previous controls -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                
                    <!-- Caption text -->
                    <div class="caption-container">
                        <p id="caption"></p>
                    </div>
                
                    <!-- Thumbnail image controls -->
                    <div class="column">
                        <img class="demo" src="img/portfolio/1.jpg" onclick="currentSlide(1)" alt="Nature">
                    </div>
                
                    <div class="column">
                        <img class="demo" src="img/portfolio/2.jpg" onclick="currentSlide(2)" alt="Snow">
                    </div>
                
                    <div class="column">
                        <img class="demo" src="img/portfolio/3.jpg" onclick="currentSlide(3)" alt="Mountains">
                    </div>
                
                    <div class="column">
                        <img class="demo" src="img/portfolio/4.jpg" onclick="currentSlide(4)" alt="Lights">
                    </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>
