<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <!-- Trigger the Modal -->
                <img id="myImg1" src="img/portfolio/1.jpg" alt="Snow" style="width:100%">

                <!-- The Modal -->
                <div id="myModal1" class="modal">

                <!-- The Close Button -->
                <span class="close">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">

                <!-- Modal Caption (Image Text) -->
                <div id="caption1"></div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Trigger the Modal -->
                <img id="myImg2" src="img/portfolio/2.jpg" alt="Snow" style="width:100%">

                <!-- The Modal -->
                <div id="myModal2" class="modal">

                <!-- The Close Button -->
                <span class="close">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img02">

                <!-- Modal Caption (Image Text) -->
                <div id="caption2"></div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Trigger the Modal -->
                <img id="myImg3" src="img/portfolio/3.jpg" alt="Snow" style="width:100%">

                <!-- The Modal -->
                <div id="myModal3" class="modal">

                <!-- The Close Button -->
                <span class="close">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img03">

                <!-- Modal Caption (Image Text) -->
                <div id="caption3"></div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Trigger the Modal -->
                <img id="myImg4" src="img/portfolio/4.jpg" alt="Snow" style="width:100%">

                <!-- The Modal -->
                <div id="myModal4" class="modal">

                <!-- The Close Button -->
                <span class="close">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img04">

                <!-- Modal Caption (Image Text) -->
                <div id="caption4"></div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Trigger the Modal -->
                <img id="myImg5" src="img/portfolio/5.jpg" alt="Snow" style="width:100%">

                <!-- The Modal -->
                <div id="myModal5" class="modal">

                <!-- The Close Button -->
                <span class="close">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img05">

                <!-- Modal Caption (Image Text) -->
                <div id="caption5"></div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Trigger the Modal -->
                <img id="myImg6" src="img/portfolio/6.jpg" alt="Snow" style="width:100%">

                <!-- The Modal -->
                <div id="myModal6" class="modal">

                <!-- The Close Button -->
                <span class="close">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img06">

                <!-- Modal Caption (Image Text) -->
                <div id="caption6"></div>
                </div>
            </div>            
        </div>
    </div>
</section>
